/* Sidebar styles */
.sidebar {
  width: 240px;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow-y: auto;

  background-color: #ffffff;
  border-right: #444 1px solid;
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #000000;
  padding-bottom: 10px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin-bottom: 15px;
}

.nav-list a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: #000000;
}

.nav-item {
  padding: 10px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.nav-item:hover {
  background-color: #eaeaea;
}

.nav-item.active {
  background-color: skyblue;
}


.nav-item a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}